[user]
	email = pablo.aledo@gmail.com
	name = Pablo
[credential]
	helper = cache --timeout=432000
[diff]
	tool = meld
[push]
	default = simple
[core]
	trustctime = false
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[commit]
    template = ~/.git_commit_template.txt
[rebase]
        instructionFormat = (%an <%ae>) %s