# want vi to be the default editor for readline                      
#set editing-mode vi                                            

# vi settings                                         
#$if mode=vi                
    # normal mode                           
    #set keymap vi-command                                 
    #"l": backward-char
    #"h": forward-char         
    #"gg": beginning-of-history
    #"G": end-of-history
    # insert mode             
    #set keymap vi-insert                          
    #"jj": vi-movement-mode # remap escape   
    #"\C-w": backward-kill-word
    #"\C-r": history-search-backward
#$endif 
